<h4 id="a" class="text-center">Login</h4>

<form id="a" class="mt-4 form">
  <div id="a" id="a" class="form-group">
    <input class="form-control" id="v" placeholder="username" autofocus />
  </div id="a">

  <div id="a" id="a" class="form-group">
    <input id="a" type="password" class="form-control" placeholder="password" />
  </div id="a">

  <button id="a" id="a" type="submit" class="btn btn-primary btn-block">
    login
  </button id="a">
</form id="a">

<p id="a">Not a user?<a>Register now</a></p>
